@font-face {
  font-family: 'Alegreya Sans';
  src: url('./assets/fonts/AlegreyaSans-Thin.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Alegreya Sans';
  src: url('./assets/fonts/AlegreyaSans-ThinItalic.ttf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Alegreya Sans';
  src: url('./assets/fonts/AlegreyaSans-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Alegreya Sans';
  src: url('./assets/fonts/AlegreyaSans-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Weather Icons';
  src: url('./assets/fonts/weathericons-regular-webfont.ttf');
  font-variant-ligatures: common-ligatures discretionary-ligatures contextual;
  font-feature-settings: "liga" 1;
  font-feature-settings: "liga1" on;
}

:global(:root) {
  --color--background: black;
  --color--text: white;

  --font-family--body: 'Alegreya Sans', sans-serif;
  --font-family--heading: 'Alegreya Sans', sans-serif;
  --font-family--weather: 'Weather Icons';

  --font-size--body: 32pt;
  --font-size--note: 20pt;
  --font-size--heading: 40pt;

  --font-weight--regular: 200;
  --font-weight--bold: 300;
}

:global(body) {
  margin: 0;
  padding: 0;
  font-family: var(--font-family--body);
  font-size: var(--font-size--body);
  background-color: var(--color--background);
  color: var(--color--text);
}

:global(#root) {
  width: 100vw;
  height: 100vh;
}
