.pager {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page {
  --page-offset: 0;
  --z-index: 0;

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-index);

  transform: translateX(var(--page-offset));
  transition: transform 0.3s;

  &.previous {
    --page-offset: -100vw;
  }

  &.current {
    --z-index: 1;
    --page-offset: 0;
  }

  &.next {
    --page-offset: 100vw;
  }
}

.dotsContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.dot {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  margin: 8px;
  background-color: var(--color--text);

  &.previous, &.next {
    opacity: 0.3;
  }
}
